<div class="card" style="margin-top: 50px;">
    <div class="card-header">{{book.id == 0 ? 'ADD NEW BOOK' : 'UPDATE THE BOOK'}}</div>
    <div class="card-body">
        <form (ngSubmit)="SaveData(formTemplate)" #formTemplate="ngForm">
            <div class="form-group row">
                <label for="title">Book Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Book Title" name="title" id="title" ngModel
                        [(ngModel)]="book.title" #title="ngModel" required>
                </div>
                <div class="col-sm-1">
                    <span style="color:red; font-size: 30px;" *ngIf="author.errors?.required">*</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="author">Author</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Author" name="author" id="author" ngModel
                        [(ngModel)]="book.author" #author="ngModel" required>
                </div>
                <div class="col-sm-1">
                    <span style="color:red; font-size: 30px;" *ngIf="author.errors?.required">*</span>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="read" id="read" [(ngModel)]="book.read">
                        <label class="form-check-label" for="read"> Read?</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary" [disabled]="!formTemplate.valid">SAVE</button> <button
                        type="submit" class="btn btn-secondary" style="margin-left:30px;" (click)="Back()">BACK</button>
                </div>
            </div>
        </form>
    </div>
</div>