<H1>{{title}}</H1>
<br>
<br>
<button class="btn btn-success" (click)="addBook();">ADD BOOK</button>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Read?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of booksList">
                <td>{{x.title}}</td>
                <td>{{x.author}}</td>
                <td>{{x.read ? 'Yes' : 'No'}}</td>
                <td>
                    <div *ngIf="!showConfirmDelete">
                        <button class="btn btn-warning" style=" font-size: 15px;" type="button"
                            (click)="update(x.id)"><i class="fa fa-pencil"></i>Update</button>
                        <button class="btn btn-danger" style=" font-size: 15px;" type="button"
                            (click)="ConfirmDelete(x)">Delete</button>
                    </div>
                    <div *ngIf="showConfirmDelete && bookForDelete.id == x.id">
                        <span>Confirm</span> <button class="btn btn-danger" style=" font-size: 15px;" type="button"
                            (click)="delete(x)">Yes</button>
                        <button class="btn btn-secondary" style=" font-size: 15px;" type="button"
                            (click)="ConfirmDelete(x)">Cancel</button>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>